---
---
// ::::::::::::: Fonts ::::::::::::: //
$fancy-font: 'Pacifico', 'Dancing Script', cursive;
$sans-serif: 'Comfortaa', 'Futura', sans-serif;

// ::::::::::::: Color Mixins ::::::::::::: //
// Coolors Exported Palette

$gray-transparent: rgba(255, 255, 255, 0.5);
$gray-light: rgba(236, 237, 240, 1);
$gray-medium: rgba(200, 200, 200, 1);
$gray-dark: rgba(70, 70, 70, 1);
$gray-black: rgba(37, 36, 35, 1);

$color1: rgba(239, 71, 111, 1);
$color2: rgba(255, 209, 102, 1);
$color3: rgba(6, 201, 149, 1);
$color4: rgba(47, 140, 170, 1);
$color5: rgba(132, 95, 130, 1);

$color11: rgba(172, 15, 52, 1);
$color22: rgba(206, 150, 20, 1);
$color33: rgba(4, 140, 104, 1);
$color44: rgba(27, 81, 98, 1);
$color55: rgba(79, 57, 78, 1);

$yellow: rgba(233, 196, 106, 1);
$emerald: rgba(143, 193, 150, 1);
$orange: rgba(231, 111, 81, 1);
$navy: rgba(45, 84, 99, 1);
$plum: rgba(112, 93, 127, 1);

$dark-yellow: darken($yellow, 30%);
$dark-emerald: darken($emerald, 30%);
$dark-orange: darken($orange, 30%);
$dark-navy: darken($navy, 10%);
$dark-plum: darken($plum, 20%);




/* ::::::::::::: General Styles ::::::::::::: */
body {
  background-color: $gray-black;
  height: 100%;
  padding-top: 50px;
}

p {
  padding: 3px;
  font-family: $sans-serif;
  font-size: 15px;
}

h1{
  font-family: $fancy-font;
  padding: 5px;
}

h2 {
  font-family: $sans-serif;
  font-weight: bold;
  margin: 10px 0;
  font-size: 20px;
}

h3{
  font-family: $sans-serif;
  font-size: 18px;
  padding: 10px inherit;
}

h4 {
  padding-top: 3px;
  font-weight: bolder;
  font-family: $sans-serif;
  font-size: 17px;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: $dark-orange;
}

.left-img {   /*class to add to markdown syntax*/
  float: left;
  margin: 10px 10px 10px 0;
}

.right-img {   /*class to add to markdown syntax*/
  float: right;
  margin: 10px 0 10px 10px;
}

img {
  border: 2px solid $gray-black;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  max-width: 90%;
}

.btn {
  text-decoration: none;
  font-family: $sans-serif;
  background-color: $emerald;
  border: 1px solid $dark-emerald;
}

.btn:hover {
  background-color: $dark-emerald;
  border: 1px solid $gray-black;
}

@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.container-fluid {
  padding: 0px;
}

/* ::::::::::::: Navigation ::::::::::::: */

.navigation {
  font-family: $sans-serif;
  font-size: 18px;
  background-color: $gray-dark;
  border: 2px solid $gray-black;
  border-radius: 0;
  float: none;
}

.navbar .navbar-default .navbar-fixed-top {
  height: inherit;
}

.navigation a {
  color: $gray-medium;
  border-radius: 0;
  text-decoration: none;
}

.navbar-default {
  border: none;
  background-color: $gray-black;
  margin: 0;
}

.nav-pills>li  {
  a {
    color: $gray-medium;
    border-radius: 0;
  }
  a:active {
    color: $gray-medium;
    border-radius: 0;
  }
  a:hover {
    color: $orange;
    border-radius: 0;
    text-shadow: none;
    background-color: transparent;
  }
}


/* ::::::::::::: sidebar ::::::::::::: */

.sidebar{
  background-color: $plum;
  padding: 15px;
  border: 2px solid $dark-plum;
  h1 {
    color: $dark-plum;
  }
  ul.side-contact {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .side-contact li {
    margin: 7px;
    display: inline-flex;
  }
  i {
    color: $yellow;
    font-size: 45px;
  }
  a {
    text-decoration: none;
    :hover {
      color: $orange;
    }
  }
  @media (max-width: 992px){
    .post-list{
      display: none;
    }
  }
  .post-list {
    padding: 0;
    margin-top: 30px;
    h4 {
      margin-top: 0;
      margin-bottom: 20px;
    }
    h4 a {
      color: $gray-medium;
      text-decoration: none;
    }
    a:hover{
      color: $yellow;
    }
    h3 {
      color: $gray-medium;
      padding-bottom: 15px;
      font-size: 19px;
    }
    p {
      color: $dark-plum;
      margin-bottom: 0;
      font-family: $fancy-font;
      font-size: 17px;
    }
  }
}





/* ::::::::::::: footer ::::::::::::: */

footer {
  font-family: $sans-serif;
  text-align: center;
  background-color: $gray-dark;
  border: 2px solid $gray-black;
  color: $gray-medium;
  h3 {
    padding-bottom: 10px;
  }
}

/* ::::::::::::: resume ::::::::::::: */

.resume {
  background-color: $gray-light;
  border: 2px solid $gray-dark;
  padding: 30px;
  margin: 0px;
  h4{
    font-family: $sans-serif;
    color: $dark-emerald;
    font-size: 18px;
  }
  h1 {
    color: $navy;
    margin-left: -10px;
  }
}



/* ::::::::::::: default layout ::::::::::::: */

.default-content {
  background-color: $gray-light;
  border: 2px solid $gray-dark;
  padding: 30px;
  margin: 0px;
  h1 {
    color: $plum;
  }
  h2 {
    color: $dark-emerald;
  }
}

#post-title {
  font-family: $sans-serif;
  font-size: 30px;
  color: $emerald;
}


/* ::::::::::::: Landing page ::::::::::::: */

/* :::::: intro/icons :::::: */

.blurb {
  background-color: $yellow;
  border: 2px solid $dark-yellow;
  padding: 30px;
  h1 {
    color: $dark-yellow;
  }
  .fa {
    color: $plum;
  }
  .fa:hover{
    color: $dark-plum;
  }
  img {
    display: block;
    width: 50%;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid $dark-yellow;
  }
  p{
    font-size: 20px;
    color: $dark-plum;
  }
}

.contact {
  font-size: 45px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact li{
  display: inline-flex;
  margin: 10px;
}

/* :::::: blog list :::::: */

.blog-list {
  background-color: $plum;
  padding: 30px;
  border: 2px solid $dark-plum;
  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  h4 a {
    color: $gray-medium;
    text-decoration: none;
  }
  a:hover{
    color: $yellow;
  }
  h1 {
    color: $dark-plum;
    padding-bottom: 0;
  }
  h3 {
    color: $emerald;
    padding-bottom: 15px;
    font-size: 19px;
  }
  p {
    color: $dark-plum;
    margin-bottom: 0;
    font-family: $fancy-font;
    font-size: 17px;
  }
}

/* :::::: latest post :::::: */

.latest-post {
  background-color: $emerald;
  color: $gray-light;
  padding: 30px;
  border: 2px solid $dark-emerald;
  h1 {
    color: $dark-emerald;
  }
  p {
    color: $gray-black;
  }
  img {
    float: none;
    display: inline-flex;
    margin: 10px;
  }
}

/* :::::: gallery :::::: */

.gallery {
  background-color: $orange;
  padding: 10px 30px;
  border: 2px solid $dark-orange;
  h1 {
    color: $dark-orange;
  }
}
