---
---
// ::::::::::::: Fonts ::::::::::::: //

$font-header: 'Anton', 'Courier New', monospace;
$font-fancy: 'Give You Glory', cursive;
$font-normal: 'Muli', 'arial', sans-serif;


// ::::::::::::: Color Mixins ::::::::::::: //
// Coolors Exported Palette

$gray-transparent: rgba(255, 255, 255, 0.5);
$gray-light: rgba(236, 237, 240, 1);
$gray-medium: rgba(200, 200, 200, 1);
$gray-dark: rgba(70, 70, 70, 1);
$gray-black: rgba(37, 36, 35, 1);

$yellow: rgba(233, 196, 106, 1);
$emerald: rgba(143, 193, 150, 1);
$orange: rgba(231, 111, 81, 1);
$navy: rgba(45, 84, 99, 1);
$plum: rgba(112, 93, 127, 1);

$dark-yellow: darken($yellow, 30%);
$dark-emerald: darken($emerald, 30%);
$dark-orange: darken($orange, 30%);
$dark-navy: darken($navy, 10%);
$dark-plum: darken($plum, 20%);

/* ::::::::::::: General Styles ::::::::::::: */

body {
  background-color: $gray-black;
  height: 100%;
  padding-top: 50px;
}

p {
  font-family: $font-normal;
  font-size: 18px;
}

h1{
  font-family: $font-header;
  font-size: 40px;
  text-align: center;
  color: $dark-plum;
  text-shadow: 1px 2px 1px $gray-dark;
}

h2 {
  font-family: $font-fancy;
  font-size: 30px;
  font-weight: bold;
  color: $plum;
}

h3{
  font-family: $font-header;
  font-size: 20px;
  color: $navy;
}

h4 {
  font-family: $font-fancy;
  font-size: 17px;
  color: $navy;
}

ol, ul {
  font-family: $font-header;
  list-style: none;
}

a, a:visited {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: $dark-orange;
}

img {
  border: 2px solid $gray-black;
  box-shadow: 1px 2px 1px $gray-dark;
  border-radius: 6px;
  padding: auto;
  display: inline-flex;
  max-width: 90%;
}

.btn {
  text-decoration: none;
  font-family: $font-normal;
  background-color: $emerald;
  border: 1px solid $dark-emerald;
}

.btn:hover {
  background-color: $dark-emerald;
  border: 1px solid $gray-black;
}

@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.container-fluid {
  padding: 0px;
}

/* ::::::::::::: Navigation ::::::::::::: */

.navigation {
  font-size: 18px;
  background-color: $gray-dark;
  border: 2px solid $gray-black;
  border-radius: 0;
  float: none;
}

.navbar .navbar-default .navbar-fixed-top {
  height: inherit;
}

.navigation a {
  color: $gray-medium;
  border-radius: 0;
  text-decoration: none;
  font-family: $font-header;
  text-shadow: 1px 2px 1px $gray-black;
}

.navbar-default {
  border: none;
  background-color: $gray-black;
  margin: 0;
}

.nav-pills>li  {
  a {
    color: $gray-medium;
    border-radius: 0;
  }
  a:hover {
    color: $yellow;
    border-radius: 0;
    text-shadow: none;
    background-color: transparent;
    text-shadow: 1px 2px 1px $gray-black;
  }
}


/* ::::::::::::: sidebar ::::::::::::: */

.sidebar{
  background-color: $plum;
  color: $gray-medium;
  padding: 15px;
  border: 2px solid $dark-plum;
  p {
    font-size: 18px;
  }
  h1 {
    color: $dark-plum;
  }
  ul.side-contact {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .side-contact li {
    margin: 10px;
    display: inline-flex;
  }
  i {
    color: $gray-medium;
    font-size: 45px;
  }
  a {
    text-decoration: none;
    :hover {
      color: $orange;
    }
  }
  @media (max-width: 992px){
    .post-list{
      display: none;
    }
  }
  .post-list {
    padding: 0;
    margin-top: 30px;
    h4 {
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 20px;
    }
    h4 a {
      color: $gray-medium;
      text-decoration: none;
    }
    a:hover{
      color: $yellow;
    }
    h3 {
      color: $gray-medium;
      padding-bottom: 15px;
      font-size: 19px;
    }
    p {
      color: $dark-plum;
      margin-bottom: 0;
      font-family: $font-header;
      font-size: 17px;
    }
  }
}





/* ::::::::::::: footer ::::::::::::: */

footer {
  font-family: $font-normal;
  text-align: center;
  background-color: $gray-dark;
  border: 2px solid $gray-black;
  h4 {
    padding: 5px;
    color: $gray-medium;
    font-size: 20px;
  }
}

/* ::::::::::::: resume ::::::::::::: */

.resume {
  background-color: white;
  border: 2px solid $gray-dark;
  padding: 30px;
  margin: 0px;
  h4{
    font-family: $font-header;
    color: lighten($navy, 20%);
    font-size: 25px;
    padding: 20px 0 0 0;
  }
  h1 {
    color: $navy;
    margin-left: -10px;
  }
  h3 {
    font-family: $font-normal;
    line-height: 1.2;
    color: $gray-dark;
  }
  h2 {
    margin: 1px;
    color: lighten($navy, 20%);
    font-size: 20px;
  }
}



/* ::::::::::::: default layout ::::::::::::: */

.default-content {
  background-color: white;
  border: 2px solid $gray-dark;
  padding: 30px;
  margin: 0px;
  h1 {
    color: $plum;
  }
  h2 {
    color: $dark-emerald;
  }
}

#post-title {
  font-family: $font-fancy;
  font-size: 40px;
  color: $emerald;
  font-weight: bold;
}


/* ::::::::::::: Landing page ::::::::::::: */

/* :::::: intro/icons :::::: */

.blurb {
  background-color: $plum;
  border: 2px solid $dark-plum;
  padding: 30px;
  h1 {
    color: $dark-plum;
    font-size: 48px;
    text-align: center;
  }
  .fa {
    color: $gray-medium;
  }
  .fa:hover{
    color: $emerald;
  }
  img {
    display: block;
    width: 50%;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 50%;
    border: 3px solid $dark-plum;
  }
  p{
    font-size: 22px;
    color: $gray-medium;
    text-align: center;
  }
}

.contact {
  font-size: 45px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact li{
  display: inline-flex;
  margin: 10px;
}

/* :::::: blog list :::::: */

.blog-list {
  background-color: $gray-light;
  padding: 30px;
  border: 2px solid $gray-dark;
  color: $dark-orange;
  text-align: center;
  h4  {
    color: $dark-emerald;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    font-family: $font-fancy;
    margin: 2px 0 10px 0;
    a {
      text-decoration: none;
    }
  }
  a:hover{
    color: $navy;
  }
  h1 {
    color: $navy;
    padding-bottom: 0;
    text-align: center;
    font-size: 40px;
  }
  h3 {
    font-size: 23px;
    color: $emerald;
  }
  p {
    color: $navy;
    font-family: $font-header;
    font-size: 20px;
  }
  .post-list {
    display: inline-block;
    padding: 10px;
    margin: 2px auto;
    }
  }

  /* :::::: latest post :::::: */

  .latest-post {
    background-color: desaturate($yellow, 5%);
    color: $navy;
    padding: 30px;
    border: 2px solid $dark-yellow;
    h1 {
      color: $navy;
      font-size: 40px;
    }
    p {
      color: $gray-black;
    }
    img {
      float: none;
      display: inline-flex;
      margin: 10px;
    }
    h2 {
      color: $navy;
    }
    h4 {
      font-size: 38px;
      text-align: center;
      font-weight: bold;
      color: $plum;
      padding-top: 15px;
      a {
        color: $plum;
        text-decoration: none;
      }
    }
  }

  /* :::::: gallery :::::: */

  .gallery {
    background-color: $emerald;
    padding: 10px 30px;
    border: 2px solid $dark-emerald;
    h1 {
      color: $dark-emerald;
    }
  }
