/* ::: Google Fonts :::
font-family: 'Pacifico', 'Dancing Script', cursive;
font-family: 'Comfortaa', 'Futura', sans-serif;
font-family: 'Jura', sans-serif; */

/* ::::::::::::: General Styles ::::::::::::: */
body {
  background-color: #333;
  height: 100%;
  padding-top: 50px;
}

p {
  padding-top: 3px;
  font-family: 'Comfortaa', 'Futura', sans-serif;
}

h1{
  font-family: 'Pacifico', 'Dancing Script', cursive;
  padding: 5px 0 10px 0;
}

h2 {
  font-family: 'Pacifico', 'Dancing Script', cursive;
  font-weight: bold;
  margin: 10px 0 10px 0;
}

h3{
  font-family: 'Jura', 'helvetica', serif;
  font-size: 18px;
  padding: 10px inherit;
}

h4 {
  padding-top: 3px;
  font-weight: bolder;
  font-family: 'Comfortaa', 'Futura', sans-serif;
}

ul {
  list-style: none;
}

footer {
  font-family: 'Jura', 'helvetica', serif;
  color: gray;
  height: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

a :hover {
  text-decoration: none;
  color: steelblue;
}
/* ::::::::::::: Navigation ::::::::::::: */

.navigation {
  font-family: 'Jura', 'helvetica', serif;
  font-size: 18px;
  background-color: #333;
  border: 1px solid #333  ;
  border-radius: 0;
  float: none;
}

.navigation a {
  color: lightgray;
  border-radius: 0;
  margin-left: 3px;
}

.navbar-default {
  border: none;
  background-color: #333;
}

.nav-pills>li.active>a  {
  color: black;
  background-color: #666;
  border-radius: 0;
}
.nav-pills>li.active>a:focus {
  color: lightgray;
  background-color: #555;
  border-radius: 0;
}

.nav-pills>li.active>a:hover {
  color: lightgray;
  background-color: #555;
  border-radius: 0;
}

.nav-pills>li>a:hover {
  color: lightgray;
  background-color: #555;
  border-radius: 0;
}

.nav-pills>li>a {
  color: lightgray;
  border-radius: 0;
}

/* ::::::::::::: Landing Boxes ::::::::::::: */

.row.top-row {
  height: 40vmax;
}

.col-md-4, .col-md-8 {
  min-height:300px;
  border: 1px solid #333;
  padding: 10px;
}

.contact {
  font-size: 40px;
  columns: 3;
  max-width: 300px;
}

.contact li{
  margin-top: 15px;
}

.gold {
  background-color: gold;
  height:inherit;
}

.blue {
  background-color: steelblue;
  height:inherit;
}

.row.bottom-row {
  height: 50vmax;
}

.orange {
  background-color: darkorange;
  height: inherit;
}

.green {
  background-color: mediumseagreen;
  height: inherit;
  overflow-y: scroll;
}

.green::-webkit-scrollbar{
    width: 8px;
    background-color: rgba(83,118,66,0.5);
}

.green::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #2A7D4F;
}

/* ::::::::::::: footer ::::::::::::: */

footer h3{
  margin-top: 20px;
}
