---
---

/* ::: Google Fonts :::
font-family: 'Pacifico', 'Dancing Script', cursive;
font-family: 'Comfortaa', 'Futura', sans-serif;*/

/* ::::::::::::: Color Mixins ::::::::::::: */
/* Coolors Exported Palette - coolors.co/bce784-5dd39e-4f759b-5d536b-81667a */

/* RGB */
$color1: rgba(233, 196, 106, 1);
$color2: rgba(143, 193, 150, 1);
$color3: rgba(231, 111, 81, 1);
$color4: rgba(45, 84, 99, 1);
$color5: rgba(112, 93, 127, 1);
$darkgray: #333;
$lightgray: gray;
$transwhite: rgba(255,255,255,0.5);

/* ::::::::::::: General Styles ::::::::::::: */
body {
  background-color: $darkgray;
  height: 100%;
  padding-top: 50px;
}

p {
  padding-top: 3px;
  font-family: 'Comfortaa', 'Futura', sans-serif;
}

h1{
  font-family: 'Pacifico', 'Dancing Script', cursive;
  padding: 5px;
}

h2 {
  font-family: 'Pacifico', 'Dancing Script', cursive;
  font-weight: bold;
  margin: 10px 0;
  font-size: 20px;
}

h3{
  font-family: 'Comfortaa', 'Futura', sans-serif;
  font-size: 18px;
  padding: 10px inherit;
}

h4 {
  padding-top: 3px;
  font-weight: bolder;
  font-family: 'Comfortaa', 'Futura', sans-serif;
  font-size: 17px;
}

ul {
  list-style: none;
}

footer {
  font-family: 'Comfortaa', 'Futura', sans-serif;
  color: $lightgray;
  height: 50px;
  text-align: center;
}

a, a:visited {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.left-img {   /*class to add to markdown syntax*/
  float: left;
  margin: 10px 10px 10px 0;
}

.right-img {   /*class to add to markdown syntax*/
  float: right;
  margin: 10px 0 10px 10px;
}

img {
  border: 2px solid black;
  margin: 5px;
  display: flex;
}

.btn {
  text-decoration: none;
  font-family: 'Comfortaa', 'Futura', sans-serif;
}


/* ::::::::::::: Navigation ::::::::::::: */

.navigation {
  font-family: 'Comfortaa', 'Futura', sans-serif;
  font-size: 18px;
  background-color: $darkgray;
  border: 1px solid $darkgray  ;
  border-radius: 0;
  float: none;
}

.navigation a {
  color: beige;
  border-radius: 0;
  text-decoration: none;
}

.navbar-default {
  border: none;
  background-color: $darkgray;
}

.nav>li>a:hover {
  background-color: transparent;
}

.nav-pills>li>a  {
  color: beige;
  border-radius: 0;
}

.nav-pills>li>a:active {
  color: beige;
  border-radius: 0;
}

.nav-pills>li>a:hover {
  color: $color3;
  border-radius: 0;
  text-shadow: none;
}

/* ::::::::::::: Landing Boxes ::::::::::::: */
/*
.row.top-row {
height: 40vmax;
}*/

.col-md-4, .col-md-8 {
  min-height:300px;
  border: 1px solid $darkgray;
  padding: 15px;
  margin: 0px;
}

.contact {
  font-size: 40px;
  columns: 3;
  max-width: 300px;
}

.contact li{
  margin-top: 15px;
}

/* :::::: top-left, intro/icons :::::: */

.gold {
  background-color: $color1;
  height:inherit;
  h1 {
    color: $color5;
  }
  .fa {
    color: $darkgray;
  }
  .fa:hover{
    color: $color5;
  }
}

/* :::::: top-right, gallery :::::: */
.blue {
  background-color: $color5;
  height:inherit;
  color: beige;
  h1 {
    color: $color1;
  }
}

/* :::::: bottom-left, latest post :::::: */
.orange {
  background-color: $color3;
  color: beige;
  height: inherit;
  h1 {
    color: $color4;
  }
  h4 a {
    color: $color1;
  }
  p {
    color: $darkgray;
    padding: 20px;
  }
}

/* :::::: bottom-right, blog list :::::: */
.green {
  background-color: $color4;
  color: beige;
  height: inherit;
  h4 a {
    color: $color1;
    text-decoration: none;
  }
  a:hover{
    color: $color2;
  }
  h1 {
    color: $color2
  }
}


/* ::::::::::::: footer ::::::::::::: */

footer h3{
  margin-top: 20px;
}

/* ::::::::::::: default layout ::::::::::::: */

.container-fluid{
  padding: 0;
}

.row {
  margin: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.default-content {
  background-color: beige;
  border: 1px solid $darkgray;
  padding: 10px;
  margin: 0px;
  h1, h1 a {
    color: $color2;
    text-decoration: none;
  }
  h4, h1 a:hover{
    color: $color3;
  }
}

.sidebar{
  background-color: $color5;
  padding: 5px;
  border: 1px solid $darkgray;
  h3 {
    padding: 15px 5px;
  }
  h1 {
    color: beige;
  }
  a, ul {
    color: $color1;
    text-shadow: none;
    display: flex-block;
    padding: 15px;
    margin: 5px auto;
    font-size: 45px;
  }
  i:hover{
    color: $color3;
    text-shadow: none;
  }
}

.sidebar li {
  display: inline-block;
}


/* ::::::::::::: mobile rules ::::::::::::: */

@media only screen and (max-width: 992px) {
  .row, .row.top-row, .row.bottom-row{
    display: inherit;
  }

}
