<div class="grey-left-side">
</div>
<div class="offset-by-three columns background-provider">
</div>


  <!-- Header Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header>
  <div class="row">
    <div class="offset-by-three nine columns c-right">
      <a href="/"><h1 class="site-title"><span class="marker-dot-right"></span>{{ site.title }}</h1></a>
    </div>
  </div>
  </header>
  <div class="row">
    <div class="three columns main-sidebar">
      <nav>
          {% for page in site.pages %}
            {% if page.title %}
            <span class="marker-dot-nav-right hide-big"></span><a class="nav-page-link" href="{{ page.url | prepend: site.baseurl }}"><span class="nav-link-text">{{ page.title }}</span><span class="marker-dot-left"></span></a>
            {% endif %}
          {% endfor %}
        </nav>
    </div>

    <div class="eight columns main-content">
