<div class="container side-panel-content">
  <div class="summary">

    <a href="/"><h1>Courtney G. Ives</h1></a>
    <h2>Fizzy Beverage Enthusiast, Software Developer</h2>

    <p class='dumb-blurb'>
    </p>
    <img src="/media/portrait.jpg" alt="">
  </div>



  <nav class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resume">Work</a>
    </li>
  </nav>



  <!-- coffee ring background (bottom) -->
  <div class='coffee-ring coffee-ring-lower'></div>





</div>
