<div class="col-md-3 sidebar">

  <h1>Courtney Ives</h1>

  <p>Full Stack Software Development, Web Design, Front-End Engineering, Client-Side Development, Silly Walks, Under-Water Basket-Weaving</p>

  <ul class="side-contact">
    <li><a href="mailto:cgives@me.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    <li><a href="http://www.twitter.com/courtneygives"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="http://www.github.com/courtneygives"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/courtney-ives-a7076223"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="http://www.instagram.com/cgives"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>

  <ul class="post-list">
    <h1>Drivel</h1>
    {% for post in site.posts limit:10 %}
    <li>
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>

      <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    </li>
    {% endfor %}
  </ul>

</div>
