<div class="container side-panel-content">
  <div class="summary">

    <a href="/"><h1>Courtney G. Ives</h1></a>
    <h2>Fizzy Beverage Enthusiast,<br/>Web Developer</h2>

    <p class="dumb-blurb">
    </p>
    <img src="/media/portrait.jpg" alt="">

  <ul class="contact">
    <li><a href="mailto:cgives@me.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
    <li><a href="http://www.twitter.com/courtneygives"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/courtney-ives-a7076223"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="http://www.instagram.com/cgives"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul>
</div>

<!-- coffee ring background (bottom) -->
<div class="coffee-ring coffee-ring-upper"></div>

</div>
