

body {
  background-image: url("art/yellowdamask.jpg");
  background-size: 1000px;
}

/* ---------- General styles ---------- */

h1 {
  color: black;
  font-size: 30px;  
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 8px gray;
  border: 1px white;
  margin: 10px;
}


h2 {
  padding-top: 5px;
  margin: 5px;
  color: #47476b;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px 8px gray;
}

h3 {
  color: black;
  font-size: 19px;  
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 8px gray;
  margin: 5px;
}


p {
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 8px gray;
  margin: 5px;
}

a {
  color: #009966;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #006644;
}


ul {
  list-style-type: circle;
  margin-top: .5em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  border: 1px white;
}

li {
  height: auto;
  
}

footer {
  position: relative;
  text-align: center;
  padding: 10px;
}



/* ---------- Navigation styles ---------- */

nav {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  width: 90%;
  margin: 10px auto 0 auto;
  padding-top: 5px;
  box-shadow: 2px 2px 10px gray;
  border-radius: 15px;
  border: 1px solid black;
}

nav a {
  color: black;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 15px 0px 15px;
  text-shadow: 2px 2px 10px gray;
}

nav a:hover {
  text-decoration: none;
  color: #009966;
}

nav ul {
  padding: 0 15px;
}

nav li {
  display: inline; 
}



/* ---------- Jumbotron styles ---------- */
/* Removed Bootstrap, but kept the "Jumbotron" class. */

.jumbotron {
  background-image: url("art/winter.jpg");
  background-position: center bottom;
  border-radius: 20px;
  width: 90%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  margin: 10px auto 0 auto;
  box-shadow: 2px 2px 10px gray;
}

.jumbotron .container {
  position: relative;
  top:50px;
  padding: 40px;
}

.jumbotron h1 {
  color: #fff;
  text-shadow:
  -1px -1px 0 rgba(0, 0, 0, .9),  
  1px -1px 0 rgba(0, 0, 0, .9),
  -1px 1px 0 rgba(0, 0, 0, .9),
  1px 1px 0 rgba(0, 0, 0, .9);
  font-size: 50px;  
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #ffe680;
  text-shadow:
  -1px -1px 0 rgba(0, 0, 0, .9),  
  1px -1px 0 rgba(0, 0, 0, .9),
  -1px 1px 0 rgba(0, 0, 0, .9),
  1px 1px 0 rgba(0, 0, 0, .9);
}

.jumbotron p a {
  color: #1CFFB3;
  text-shadow:
  -1px -1px 0 rgba(0, 0, 0, .5),  
  1px -1px 0 rgba(0, 0, 0, .5),
  -1px 1px 0 rgba(0, 0, 0, .5),
  1px 1px 0 rgba(0, 0, 0, .5);
}

.jumbotron p a:hover{
  text-decoration: none;
  color: #009966;
}


/* ---------- Resume styles ---------- */

#education, #experience {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  border-radius: 20px;
  position: center;
  margin: 10px auto 10px auto;
  border: 1px solid black;
  box-shadow: 2px 2px 10px gray;
  cursor: pointer;
  padding: 15px;
}

.school, .job {
  vertical-align: text-top;
  width: 45%;
  display: inline-block;
  margin: auto 2%;
}

#education-content, #experience-content {
  display: none;

}

.resume {
  
}




/* ---------- Contact styles ---------- */

.contact {
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px auto 0 auto;
  padding: 50px;
}


