

.post-list {
  margin: 10px auto;
  padding: 15px;
  h3 {
  }
  ul {
  
  }
  li {

  }
}

.post {
  padding: 15px;

  header.post-header {
    box-shadow: none;
    background: transparent;
    border: 0;
  }
  .post-content {
    padding-top: 10px
  }
  margin-bottom: 20px;
}
