
body {
  background: url('/art/ricepaper2.png');
  color: $color-black;
  font-family: $font-body;
}

.coffee-ring {
  opacity: .7;
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  &-upper {
    top: 100px;
    right: 20px;
    background-image: url('/art/1.png');
    background-position: right;
  }
  &-lower {
    bottom: 50px;
    left: 20px;
    background-image: url('/art/10.png');
    background-position: left;
  }
}

header {
  padding: 5px;
  margin-bottom: 20px;
  background-color: $color-white;
  border-top: 3px solid $color3;
  border-bottom: 3px solid $color5;
  box-shadow: $shadow;
  a {
    color: $color3;
    &:hover {

    }
  }
}

main {
  margin-top: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
