
body {
  background: url('/art/ricepaper2.png');
  background-attachment: fixed;
  color: $color1;
  font-family: $font-body;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.coffee-ring {
  position: fixed;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 100%;
  transition: all .5s;
  &-upper {
    opacity: .4;
    top: 70px;
    right: 20px;
    background-image: url('/art/1.png');
    background-position: right;
    // larger devices:
    @media (min-width: $breakpoint-lg) {
      opacity: .8;
    }
  }
  &-lower {
    opacity: 0;
    bottom: 70px;
    left: 20px;
    background-image: url('/art/10.png');
    background-position: left;
    // larger devices:
    @media (min-width: $breakpoint-lg) {
      opacity: .8;
    }
  }
}

header {
  padding: 5px;
  margin-bottom: 20px;
  background-color: $color2;
  border-bottom: 3px solid $color1;

  // box-shadow: $shadow;
  a {
    color: $color-white;
    transition: transform 0.5s;
    padding: 10px;
    &:hover {
      color: $color1;
    }
  }
}


.site-wrapper {
  flex: 1;
}
.container {
  background: transparentize($color-white, .5);
  width: 100%;
}

main {
  margin: 100px 0;
  max-width: 900px;
  border-radius: 5px;

}

footer {
  border-top: 3px solid $color4;
  background-color: $color1;
  color: $color4;
  padding-top: 15px;
  flex: none;
  width: 100%;
  text-align: center;
  a {
  }
}
