.landing {
  height: 700px;
  width: 100%;
  background-image: url('/media/desktop1.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  .sheet {
    background-color: transparentize($color2, .3);
    height: 100%;
  }
  h1 {
    color: $color-white;
  }
  .card {
    position: absolute;
    background: transparent;
  }
}
