.resume {

  .job-title {
    font-family: $font-heading;
    margin-top: 1.6rem;
    color: $color4-light;
  }

  .job-info {
    font-family: $font-fancy;
    color: $color4;
  }

  .job-desc {
      li {
          list-style: square;
          margin-left: 2em;
      }
  }

  .resume-section {
    font-family: $font-heading;
    font-size: 33px;
    padding-top: 20px;
    color: $color4;
  }
}
