// ::::: typography ::::: //

@font-face {
  font-family: 'Raleway';
  src:  url('/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('/fonts/ShadowsIntoLight.ttf');
}

$font-body: 'Raleway', sans-serif;
$font-heading: 'Anton', Arial;
$font-fancy: 'ShadowsIntoLight', cursive;

p {
  font-size: 16px;
}

h1 {
  font-family: $font-heading;
  color: $color4-light;
  font-size: 27px;
}

h2 {
  font-family: $font-fancy;
  color: $color4;
  font-size: 25px;
  font-weight: bold;

}

h3 {
  font-family: $font-heading;
  color: $color5;
  font-size: 20px;
}

h4 {
  font-family: $font-fancy;
  color: $color3;
  font-size: 19px;
  font-weight: bold;
}


// ::::: links ::::: //
a {
  color: $color5;
  &:hover {
    color: $color5-dark;
    font-weight: bold;
    text-decoration: none;
  }
}
