
// ::::: colors ::::: //

//coolors.co/3d372e-4a616d-a96a3b-d3bd6e-dddddd
//coolors.co/462e10-38716d-c46d3c-e7c37b-ffffff
$color1: rgba(70, 46, 16, 1);
$color2: rgba(56, 113, 109, 1);
$color3: rgba(196, 109, 60, 1);
$color4: rgba(231, 195, 123, 1);

$color-white: #fff;
$color-black: #000;

$shadow: 0px 2px 5px #7C6951;
