
// ::::: colors ::::: //

//coolors.co/3d372e-4a616d-a96a3b-d3bd6e-dddddd
//coolors.co/462e10-38716d-c46d3c-e7c37b-ffffff
$color1: rgba(70, 46, 16, 1);
$color2: rgba(56, 113, 109, 1);
$color3: rgba(196, 109, 60, 1);
$color4: rgba(231, 195, 123, 1);

$color-white: #fff;
$color-black: #000;

$shadow: 0px 2px 5px #7C6951;


// ::::: typography ::::: //

@font-face {
  font-family: 'Raleway';
  src:  url('/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf');
}

$font-body: 'Raleway', sans-serif;
$font-heading: 'Pacifico', cursive;

p {
  font-size: 14px;
}

h1 {
  font-family: $font-body;
  color: $color3;
  font-size: 25px;
  font-weight: bold;

}

h2 {
  font-family: $font-heading;
  color: $color1;
  font-size: 21px;
  font-weight: bold;

}

h3 {
  font-family: $font-body;
  color: $color2;
  font-size: 20px;
  font-weight: bold;
}


// ::::: links ::::: //
a {
  color: $color3;
  &:hover {
    color: $color2;
    text-decoration: none;
  }
}
