
// ::::: colors ::::: //

$color-gray-transparent: rgba(255, 255, 255, 0.5);
$color-gray-light: rgba(236, 237, 240, 1);
$color-gray-medium: rgba(200, 200, 200, 1);
$color-gray-dark: rgba(70, 70, 70, 1);
$color-gray-black: rgba(37, 36, 35, 1);

$color-primary: rgba(45, 84, 99, 1);
$color-secondary: lighten($color-primary, 10%);
$color-tertiary: darken($color-primary, 10%);

$color-highlight1: rgba(233, 196, 106, 1);
$color-highlight2: rgba(231, 111, 81, 1);

$color-white: #fff;
$color-black: #000;

$shadow: 0px 2px 5px $color-gray-dark;
$text-shadow: 1px 1px 1px $color-gray-dark;
