


body {
  background-image: url("art/graystripes.jpg");
  background-size: 1500px;
}

.nav {
  text-align: center;

}

.nav a {
  color: black;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px;
  text-shadow: 2px 2px 10px gray;
}

.nav li {
  display: inline;
  
}

.jumbotron {
  background-image: url("art/sunset.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 8px gray;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 8px gray;
}

.education {
  margin-bottom: 40px;
}

.resume {
  background-image: url("art/graydots.jpg");
  background-size: 500px;
  width: cover;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 50px;
 
}

.resume a {
  color: black;

}    

h1 {
  color: black;
  font-size: 30px;  
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 8px gray;
  padding-bottom: 10px;
  border: 1px white;
}


h2 {
    color: #666699;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 8px gray;
}

h3 {
  margin-top: 3px;
  color: black;
  font-size: 19px;  
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  text-shadow: 2px 2px 8px gray;

}

.pictures {
  padding-top: 30px;
}


.contact {
  height: auto;
  background-image: url("art/graydots.jpg");
  background-size: 500px;
  width: cover;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 50px;
}

.contact a {
  color: gray;
}

p {
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 8px gray;

}

a {
  color: #1CFFB3;

}

ul {
    list-style-type: circle;
    margin-top: .5em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    line-height: 18px;
    border: 1px white;
}

footer {
  position: relative;
  background-image: url("art/graydots.jpg");
  background-size: 500px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
}
