<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">

    <div class="row">
      <div class="col-md-2 sidebar">
        <h1>Courtney Ives</h1>
        <h3>Full Stack Software Development, Web Design, Front-End Engineering, Client-Side Development, Silly Walks, Under-Water Basket-Weaving</h3>
        <ul>
          <li><a href="mailto:cgives@me.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          <li><a href="http://www.twitter.com/courtneygives"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://www.github.com/courtneygives"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/courtney-ives-a7076223"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="http://www.instagram.com/cgives"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>

    <div class="col-md-10 blue">
      {{ content }}
    </div>
  </div>
</div>


  {% include footer.html %}

</body>

</html>
