
{% include head.html %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 side-panel">
        {% include side-panel.html %}
    </div>


    <div class="col-lg-8 main-panel">
      <div class="container">

        <main> <!-- primary content section -->
          {{ content }}
        </main>
      </div>

      {% include recent-posts.html %}
    </div>
  </div>
</div>
<!-- coffee ring background (top) -->
<div class='coffee-ring coffee-ring-upper'></div>
<!-- coffee ring background (bottom) -->
<div class='coffee-ring coffee-ring-lower'></div>

{% include footer.html %}
